@font-face {
    font-family: "Ladna Faux Bold";
    src: url(../Fonts/LadnaFaux-Bold.woff2);
}

@font-face {
    font-family: "Ladna Faux Regular";
    src: url(../Fonts/LadnaFaux-Regular.woff2);
}

@font-face {
    font-family: "Ladna Faux Regular Italic";
    src: url(../Fonts/LadnaFaux-RegularItalic.woff);
}

body {
    margin: 0;
    background-color: #002233;
}

div.bg img {
    position: fixed;
    min-width: 100dvw;
    min-height: 100dvh;
}

div.bg-video {
    position: fixed;
    min-width: 100dvw;
    min-height: 100dvh;
    object-fit: contain;
    overflow: none;


    z-index: 15;
    pointer-events: none;
    mix-blend-mode: difference;

}

video {
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    opacity: .07;
    filter: blur(8px);
    mix-blend-mode: normal;
    pointer-events: none;
}

div.title {
    position: fixed;
    margin: 0;
    bottom: 1rem;
    left: 1rem;

    font-family: "Ladna Faux Bold", Arial, sans-serif;
    font-size: 8rem;
    line-height: 6rem;
    letter-spacing: -.4rem;

    color: rgb(230, 230, 230);
    z-index: 20;

    transition: opacity .25s ease-in-out;
}

div.title:hover {
    opacity: 0;
    cursor: zoom-in;
}

a#contact {
    position: fixed;
    margin: 0;
    top: 1rem;
    left: 1rem;

    font-family: "Ladna Faux Regular", Arial, sans-serif;
    font-size: 2.25rem;
    line-height: 2.25rem;
    letter-spacing: -.09rem;
    text-decoration: none;

    color: rgb(230, 230, 230);
    cursor: pointer;
    white-space: nowrap;
    z-index: 20;
    

    transition: mix-blend-mode .1s ease-in-out, filter .2s ease-in-out;

        -webkit-touch-callout: none; 
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

a:hover {
    mix-blend-mode: difference;
    filter: blur(4px);
/*     white-space: nowrap; */
}


div.button-language {
    position: relative;
    top: 1rem;
    right: 1rem;
    z-index: 1;
}

a.language {
    position: fixed;
    top: 1rem;
    right: 1rem;

    font-family: "Ladna Faux Regular", Arial, sans-serif;
    font-size: 2.25rem;
    line-height: 2.25rem;
    letter-spacing: -.09rem;
    text-decoration: none;

    color: rgb(230, 230, 230);
    cursor: pointer;
    white-space: nowrap;
    z-index: 20;
    

    transition: mix-blend-mode .1s ease-in-out, filter .2s ease-in-out;

    -webkit-touch-callout: none; 
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

div.nav-bar {
    position: fixed;
    bottom: 1rem;
    right: 1rem;

    display: flex;
    column-gap: 1rem;

    z-index: 20;
}

div.nav-button-container {
    margin: 0;
/*     padding-left: 1rem; */

    font-family: "Ladna Faux Regular", Arial, sans-serif;
    font-size: 2.25rem;
    line-height: 2.25rem;
    letter-spacing: -.09rem;
    text-decoration: none;

    color: rgb(230, 230, 230);
    cursor: pointer;
    white-space: nowrap;
    z-index: 10;
    mix-blend-mode: normal;

    transition: mix-blend-mode .1s ease-in-out, filter .2s ease-in-out;

    -webkit-touch-callout: none; 
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

div.nav-button-container:hover {
    mix-blend-mode: difference;
    filter: blur(4px);

}

#works {
    font-family: "Ladna Faux Regular", Arial, sans-serif;
}

#works.active {
    font-family: "Ladna Faux Bold", Arial, sans-serif;
}

#texts {
    font-family: "Ladna Faux Regular", Arial, sans-serif;
}

#texts.active {
    font-family: "Ladna Faux Bold", Arial, sans-serif;
}

#cv {
    font-family: "Ladna Faux Regular", Arial, sans-serif;
}

#cv.active {
    font-family: "Ladna Faux Bold", Arial, sans-serif;
}





div#works-container {
    position: absolute;
    top: 3rem;
    padding: 1rem;

    display: none;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 4rem;

    z-index: 10;

}

div#works-container.active {
    position: absolute;
    top: 3rem;
    padding: 1rem;

    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 4rem;

    z-index: 10;
    overflow: auto;

}

div.project {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    row-gap: .5rem;
    /* max-width: min-content; */
    aspect-ratio: 4 / 3;

    transition: width .5s ease-in-out;
}

img.work {
    position: relative;
    height: calc(100vh - 21rem);
    min-height: 500px;
    object-fit: contain;

    cursor: e-resize;
}

a.work {
    font-family: "Ladna Faux Bold", sans-serif, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: -.04rem;
    text-decoration: none;
/*     text-transform: uppercase;
 */
    color: rgb(230, 230, 230);
    mix-blend-mode: difference;
    cursor: pointer;
    white-space: nowrap;
    z-index: 10;

    transition: mix-blend-mode .1s ease-in-out, filter .2s ease-in-out;
}

a.work b {
    font-family: "Ladna Faux Regular", sans-serif, Arial, sans-serif;
    font-weight: normal;
    padding-left: .2rem;
    text-transform: initial;
}





div.column-container {
    position: fixed;
    width: calc(100dvw - 2rem);
    height: 100dv;

    display: flex;
    justify-content: space-around;

    mix-blend-mode: difference;
    z-index: 15;

    pointer-events: none;
    overflow: hidden;
}

div#texts-container {
    position: relative;
    width: calc(37.5vw + 2rem);
    max-height: 100dvh;   
    height: min-content;
    opacity: 0;
    padding: 1rem;
    padding-top: 0rem;

    overflow: auto;
    pointer-events: none;
    flex-flow: column nowrap;
    row-gap: 1rem;

    display: flex;
    align-items: flex-start;
    flex-flow: column nowrap;
    row-gap: 1rem;
}

div#cv-container {
    position: relative;
    width: calc(37.5vw + 2rem);
    height: 100dvh;    
    opacity: 0;
    padding: 1rem;

    overflow: auto;
    pointer-events: none;
}

div#texts-container.active {
    position: relative;
    width: calc(37.5vw + 2rem);
    max-height: 100dvh;   
    height: min-content;
    opacity: 1;
    padding: 1rem;
    padding-top: 0rem;

    overflow: auto;
    pointer-events: initial;
}

div#cv-container.active {
    position: relative;
    width: calc(37.5vw + 2rem);
    height: 100dvh;   
    opacity: 1;
    padding: 1rem;

    overflow: auto;
    pointer-events: initial;
}

div.padding {
    height: 5.25rem;
    width: 100%;
    pointer-events: none;
}

h1 {
    margin: 0;
    margin-bottom: 0rem;

    font-family: "Ladna Faux Bold", sans-serif;
    font-size: 2.25rem;
    line-height: 2.25rem;
    letter-spacing: -.09rem;

    color: rgb(230, 230, 230);
}

p.body {
    margin: 0;

    font-family: "Ladna Faux Regular", sans-serif;
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: -.02rem;
    text-wrap: balance;

    color: rgb(230, 230, 230);

}



a.text-article {
    position: relative;
    overflow: visible;

    cursor: pointer;

    transition: mix-blend-mode .1s ease-in-out, filter .2s ease-in-out;
}

a.text-article:hover {
    mix-blend-mode: difference;
    filter: blur(4px);
    white-space: normal;
}

p.caption {
    margin: 0;

    font-family: "Ladna Faux Bold", sans-serif;
    font-size: 1rem;
    line-height: 1.25rem;
    letter-spacing: -.02rem;
    text-wrap: balance;

    color: rgb(230, 230, 230);
}